.Collection{
  width: 100%;
  padding: 0 9.33%;
}
.bar{
  width: 100%;height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: none;  
}
.fill-bar{
  height: 10px;   
  display: flex;
  background-color: var(--accent-color);  
  width: 100%;
  border-radius: 5px;
}
.info_Detail{
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.info_details{
  display: block;
  width: 100%;
  height: fit-content;
}
.indexInfo{
  width: 100%;
  height: 100%;
  align-items:center;
  padding: 10px; 
  display: inline-flex;
  flex-direction: column;
}
.indexInfo h2{
  text-align: center;
}
.characterLore{
  max-height: 150px;
  background-color:var(--secondary-color);
  border-radius: 1rem;   
}
.characterLore .story p {
  white-space: pre-line;
  text-indent: 0;
  text-align: left;
}

.characterLore .story{
  min-height: 120px ;
}

.Info{
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;  
  gap: 10px;margin-bottom: 10px;
}
.character{
  background-color: none;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  max-width: 45%;min-width: 35%;max-height: 120px;
  margin: 10px;
  border-style: double ;
  border-color: var(--secondary-color);
  border-width: 5px;
}
.gallery-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.image-holder {
  aspect-ratio: 4 / 2.5;
  width: 50px;
  max-width: 150px;
  flex: 1;
  flex-basis: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  cursor:  url('../customize_cursor/cursor_pointer.png'), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-holder img {
  cursor:  url('../customize_cursor/cursor_pointer.png'), pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-holder:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px var(--accent-color), 0 0 20px rgba(0, 0, 0, 0.3);
}
.char-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.char-player {
    width: 100%;
    font-family: sans-serif;
    margin:5px 0;
}
.char-controls {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
}
.char-controls p {
    margin: 0;
    flex-shrink: 0;
}
.char-play {
    cursor: url('../customize_cursor/cursor_pointer.png'), pointer;
    border: none;
    background:none;
    border-radius: 6px;
    padding: 2px 6px;
    color:none;
    font-size: 14px;
}
.char-time {
    font-size: 12px;
    margin-left: auto;
    padding: 8px;
    color: var(--text-color);
    min-width: 80px;
}
article .characterLore p  {
    white-space: pre-line; text-indent: 2em;
}
.char-list li {
  flex: 1 1 calc(50% - 10px); 
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}
.Attention .story{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.progressContainer {
  width: 100%;
  height: 6px;
  background: var(--secondary-color);
  border-radius: 3px;
  overflow: hidden;
  margin-top: 6px;
}
.progressBar {
  height: 100%;
  width: 0%;
  background: var(--accent-color);
  transition: width 0.1s linear;
}
audio { display: none; }

@media only screen and (max-width: 768px) {
.Collection{
  width: 100%;
  padding: 0 5.33%;
}
.characterLore{
  border-radius: 10px;   
  margin: 10px 0;
}

.tab-button {
  padding:2px 1px;
}
.characterLore .story{
  min-height: 50px ;
}
}

